extends ../layout
block contenido
    style.
        .center-text {
            text-align: center;
        }
        .small-width {
            width: 25%;
        }
        .estado-libre {
            background-color: #e6ffe6; /* Verde clarito pastel */
        }
        .estado-no-disponible {
            background-color: #ffe6e6; /* Rojo clarito pastel */
        }
        .estado-reservado {
            background-color: #ffffe6; /* Amarillo clarito pastel */
        }
        .card {
            margin-bottom: 1rem;
        }
    script.
        function toggleFieldVisibility() {
            const fieldId = document.getElementById('id');
            fieldId.style.display = 'none'; // Ocultar el campo
        }
    .conteiner  
        h1.center-text Turnos
        a(href="/turnos/create" class="btn btn-success") Crear Turno
        if mensaje
            .alert.alert-success
                h1= mensaje 
        .filters
            h3 Filtrar por:
              p Estado
                select(name="estado" class="form-select small-width" onchange="filterByEstadoTurno(this.value)") 
                    option(value="") Todos
                    option(value="Libre") Libre
                    option(value="Reservado") Reservado
                    option(value="Confirmado") Confirmado
                    option(value="Cancelado") Cancelado
                    option(value="Ausente") Ausente
                    option(value="Presente") Presente
                    option(value="En Consulta") En Consulta
                    option(value="Atendido") Atendido
                    option(value="No Disponible") No Disponible
                    option(value="Sobreturno") Sobreturno
        .row
            each turno in turnos 
                .col-md-4
                    .card(class=turno.estado === 'Libre' ? 'estado-libre' : turno.estado === 'No Disponible' ? 'estado-no-disponible' : turno.estado === 'Reservado' ? 'estado-reservado' : '')
                        .card-body
                            h5.card-title= `Estado: ${turno.estado}`
                            p.card-text
                                | Fecha: #{turno.fecha}
                                br
                                | Hora Inicio: #{turno.hora_inicio} hs
                                br
                                | Paciente: #{turno.id_paciente || 'Vacío'}
                            form(action=`/turnos/reservar/${turno.id}` method="POST" id="reservar-form" class="needs-validation" novalidate)
                                button(type="submit" class="btn btn-success") Reservar
                            form(action=`/turnos/bloquear/${turno.id}` method="POST" id="bloquear-form" class="needs-validation" novalidate)
                                button(type="submit" class="btn btn-danger") Bloquear
                            button(type="button" class="btn btn-warning" onclick="mostrarAlertaMantenimiento()") Transferir
                            
    script.
        function filterByEstadoTurno(estadoTurno) {
            const cards = document.querySelectorAll('.card');
            cards.forEach(card => {
                if (estadoTurno === "" || card.getAttribute('data-estado-turno') === estadoTurno) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        }

        function mostrarAlertaMantenimiento() {
            Swal.fire({
                title: 'En Mantenimiento',
                text: 'Esta funcionalidad está en mantenimiento.',
                icon: 'info',
                confirmButtonText: 'OK'
            });
        }

        function reservarTurno(id) {
            $.ajax({
                url: `/turnos/reservar/${id}`,
                method: 'POST',
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    console.error('Error al reservar el turno:', error);
                }
            });
        }

        function bloquearTurno(id) {
            $.ajax({
                url: `/turnos/bloquear/${id}`,
                method: 'POST',
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    console.error('Error al bloquear el turno:', error);
                }
            });
        }
