//- extends ../layout

//- block contenido
//-     .container
//-         h1 Especialidades
//-         a.btn.btn-primary(href="/especialidades/create") Agregar Especialidad

//-         ul.list-group
//-             each especialidad in especialidades
//-                 li.list-group-item
//-                     a(href=`/especialidades/${especialidad.id}`)= especialidad.nombre
//-                     .button-group(style="display: block; margin-left: 100px;")
//-                         a.btn.btn-primary(href=`/especialidades/${especialidad.id}/edit`) Modificar
//-                         a.btn.btn-danger(href=`/especialidades/${especialidad.id}/disable`) Inhabilitar
        
extends ../layout

block contenido
    .container
        h1 Especialidades
        
        if successMessage
            .alert.alert-success= successMessage
        a.btn.btn-primary(href="/especialidades/create") Agregar Especialidad      

        ul.list-group
            each especialidad in especialidades
                li.list-group-item
                    = especialidad.nombre
                    
                    //- a(href=`/especialidades/${especialidad.id}`)= especialidad.nombre
                    .button-group(style="display: block; margin-left: 200px;")
                        //-a.btn.btn-primary(href=`/especialidades/editar/${especialidad.id}`) Modificar
                        a.btn.btn-primary(href=`/especialidades/editar`) Modificar

                        //-a.btn.btn-danger(href=`/especialidades/disable/${especialidad.id}`) Inhabilitar

                        if especialidad.estado == 1                       
                            form(action=`/especialidades/inactivar/${especialidad.id}`, method='post' id="inactivar-form")
                                .mb-3
                                button(type='submit' class="btn btn-danger") Inactivar
                        else
                            form(action=`/especialidades/activar/${especialidad.id}`, method='post' id="activar-form")
                                .mb-3
                                button(type='submit' class="btn btn-success") Activar
